---
import config from '../content/config/config.json';
import HeaderLink from './HeaderLink.astro';
import IconLink from './react/IconLink';
const today = new Date();
---

<footer class="bg-[#1f1e24] text-white px-4 py-10 text-sm">
  <div class="grid gap-8 md:grid-cols-3">
    <div class="flex justify-center">
      <h2 class="text-xl font-bold text-slate-50 mb-4">{config.seo.title}</h2>
    </div>

    <div class="flex justify-center">
      {config.contactLinks?.map((link) => <IconLink {...link} className="text-white hover:text-orange-500" />)}
    </div>

    {
      config.footer?.columns?.map((col) => (
        <ul class="flex gap-3 justify-end">
          {col.links.map((link) => (
            <li>
              <HeaderLink href={link.link} isFooter={true}>
                {link.title}
              </HeaderLink>
            </li>
          ))}
        </ul>
      ))
    }
  </div>

  <div class="mt-10 flex justify-center gap-4">
    <p class="text-slate-50 text-xs">&copy; {today.getFullYear()} {config.seo.siteOwner}. All rights reserved.</p>
  </div>
</footer>
